# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtualenvs
.venv/
venv/
env/

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Django
staticfiles/
media/avatars/

# Build artifacts
*.pyc
